@import url("./system-font.css");
@import url("../js/components/Scoreboard/scoreboard/Scoreboard.css");

html, body {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	font-family: 'system', Arial, sans-serif;
	font-size: 36px;
}

button {
	font-size: 24px;
}
